
<div class="card">
  <p-table [value]="courseservice.getCourses()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Fees</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.duration }}</td>
        <td>{{ course.fees }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
