<form [formGroup]="CourseGroup">
<table>
  <tr>
    <th> Course {{msg}} Form</th>
  </tr>
  <tr>
    <th> Id :</th>
    <td>  <p-inputNumber inputId="integeronly" formControlName="_id"></p-inputNumber> </td>
  </tr>
  <tr>
    <th>Name :</th>
    <td><input type="text" pInputText formControlName="_name"/></td>
  </tr>
  <tr>
    <th> Duration : </th>
    <th>
      <input type="text" pInputText formControlName="_duration"/>
    </th>
  </tr>
   <tr>
      <th> Fees :</th>
      <td> <p-inputNumber  mode="currency" inputId="currency-india" currency="INR" currencyDisplay="code" locale="en-IN" formControlName="_fees" > </p-inputNumber>  </td>
   </tr>
  <tr>
    <p-button type="submit" label="Save"  (click)="save()"  [rounded]="true"></p-button>
    <p-button label="Clear" type="reset" [rounded]="true" severity="danger"></p-button>


  </tr>
</table>
</form>


